---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Astro Playground" sideBarActiveItemID="home">
	<main class="flex w-full justify-center pt-10 text-center">
		<h3 class="">Astro Code Playground</h3>
	</main>
</BaseLayout>
