---
// interface Props {
// 	sideBarActiveItemID: string;
// }

// const { sideBarActiveItemID } = Astro.props
---

<div class="drawer-side z-40">
	<label for="my-drawer" class="drawer-overlay"></label>
	<aside
		class="sidebar-bg flex-center bg-base-300 text-base-content flex h-auto min-h-full w-[19rem] px-2 pt-2"
	>
		<h5>SIDEBAR CONTENT</h5>
	</aside>
</div>
