---
import '@fontsource-variable/noto-sans';
import '@fontsource/anton';

import BaseHead from '@/components/layout/BaseHead.astro';
import Header from '@/components/ui/Header.astro';

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from '@/config';

interface Props {
	image?: string;
	title?: string;
	description?: string;
	includeSidebar?: boolean;
	sideBarActiveItemID: string;
}

const {
	image,
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	includeSidebar = true,
	sideBarActiveItemID,
} = Astro.props;

import '@/styles/main.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body class="relative">
		<Header title="Playground" />
		<slot />
	</body>
</html>
